    <app-navbar></app-navbar>

    <section class="catalogo-hierbas">
    <div class="background">
        <img src="cafes/fondocafes.webp" alt="">
        <img src="yerbas/filtroverdoso.webp" alt="">
    </div>
    <div class="productos">

        <div routerLink="/catalogo-cafes/detalle/1" class="producto playadito">
        <h1>Maxim caféinstantaneo Coreano</h1>
        <img src="cafes/cafe-rojo.webp" alt="">
        <p class="peso">100 coffee bag</p>
        <button  class="precio">S/. 99.50</button>
        </div>
        <div routerLink="/catalogo-cafes/detalle/2" class="producto playadito">
        <h1>Maxim café “Mocha”instantaneo Coreano</h1>
        <img src="cafes/cafe-amarillo.webp" alt="">
        <p class="peso">100 coffee bag</p>
        <button  class="precio">S/. 99.50</button>
        </div>
        <div  routerLink="/catalogo-cafes/detalle/3" class="producto playadito">
        <h1>Maxim café “Mocha”instantaneo Coreano</h1>
        <img src="cafes/cafe-negro.webp" alt="">
        <p class="peso">250gr</p>
        <button class="precio">S/. 34.50</button>
        </div>
        <div routerLink="/catalogo-cafes/detalle/4" class="producto playadito">
        <h1>Eco Andino“Café verde”</h1>
        <img src="cafes/cafe-blanco.webp" alt="">
        <p class="peso">200gr</p>
        <button  class="precio">S/.19.90</button>
        </div>
    </div>
    </section>
    <app-footer></app-footer>