<app-navbar></app-navbar>
<section class="return-policy">
  <h2>Política de Devolución</h2>

  <p>
    Todo cliente que desee devolver alguno de nuestros productos puede hacerlo siempre y cuando:
  </p>

  <ul>
    <li>El producto cuente con un <strong>desperfecto de fábrica</strong> al momento de recibirlo.</li>
    <li>El <strong>envío de devolución</strong> a nuestra bodega queda a cargo del cliente.</li>
    <li>Una vez recibido y revisado el producto, y verificado que cumple con las condiciones, se realiza el <strong>reembolso</strong>.</li>
  </ul>

  <p>
    En caso de que el producto esté defectuoso de fábrica, deberá contactarnos vía 
    <strong>WhatsApp</strong> al <a href="https://wa.me/51978370061">978 370 061</a> / 
    <a href="https://wa.me/51961760676">961 760 676</a> para atender su <strong>garantía</strong>.
  </p>
</section>
<app-footer></app-footer>