<section class="relleno">
  <section class="gsap">
<section class="contenido">
  <section class="presentacion" #presentacion>
    <div class="text1">Únete a</div>
    <app-logo-jaque></app-logo-jaque>
    <div class="text2">Ahora</div>
  </section>
  <section class="pomos-jaque" #pomosJaque hidden>
    <!-- Contenido que quieres mostrar -->
    <div class="text_road">ROAD</div>
    <div class="text_to">TO</div>
    <div class="imagen">
        <img [src]="pomo" alt="">
        <img [src]="linea" alt="">
        <img class="lineaslogo" [src]="lineaslogo" alt="">
    </div>
    <div class="text_relativo" #titulo>LOYALTY</div>
  </section>
</section>

    
    @for (video of videos; track $index) {
      <video
        #videoPlayer
        class="video"
        [src]="video.video"
        [hidden]="video.hidden"
        muted
        loop
        autoplay>
      </video>
    }
  </section>

  <section class="step" id="step1"></section>
  <section class="step" id="step2"></section>
  <section class="step" id="step3"></section>
  <section class="step" id="step4"></section>
  <section class="bottom"></section>
</section>
