<app-navbar></app-navbar>
<section class="contenedor-jaque">
<section class="catalogo-jaque" >

    <section class="producto">
        <img src="pomosMetalicos/JaqueBlanco.webp" alt="">
        <img src="bombilla.png" alt="">
    </section>

    <h1>Jaque Road to Loyalty 1.2L</h1>
  <p>Si elegiste este color, elegiste cumplir incluso cuando nadie te mira, es el camino de la constancia. Este color te recuerda que la disciplina diaria es la forma más alta de lealtad: hábitos simples, palabra firme y progreso silencioso. Súmate a Jaque's Club y luce tu Jaque “Road to Loyalty” con foco y compromiso.</p>
   <h2>Características:</h2>
   <ul class="caracteristicas-1">
    <li>Acero inoxidable 18/8; Libre de BPA.</li>
<li>Incluye bombilla que puedes convertir en sorbete</li>
<li>Aislamiento al vacío de doble pared.</li>
<li>Tapón de alta precisión</li>
   </ul>

   <ul class="caracteristicas-2">
    <li>Mantiene líquidos frios o calientes por más de 25 horas</li>
    <li>A prueba de fugas.</li>
    <li>Puedes usar la tapa como vaso fachero.</li>
    <li>Producto apto para el lavavajillas.</li>
   </ul>

   <ul class="caracteristicas-3">
    <li>Capacidad: 1.2 It</li>
    <li>Alto: 31 cm</li>
    <li>Largo: 11 cm</li>
    <li>Ancho: 10 cm</li>
   </ul>    
   <div class="pagos">
      <button class="pedir">
        PEDIR Y PAGAR AHORA</button>

            <div class="cantidad">
        <button>-</button>
        <p>0</p>
        <button>+</button>
      </div>

      <button class="online">
        <img src="iconcards.webp" alt="">
        PAGAR ONLINE HOY</button>

   </div>

</section>
</section>
<app-footer></app-footer>
