.catalogo-hierbas {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
}

.background {

  width: 100%;
  height: 100%;
  background-color: peachpuff;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
  }

}

.productos {
  display: flex;
  gap: 3em;
  font-size: 0.8vw;
  position: relative;
  height: 100%;
  margin: auto;
  align-items: stretch;
  justify-content: center;
  color: #FFF;

.producto {
  width: 26em;
  border-radius: 1em;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;        // centra horizontalmente
  justify-content: flex-start; // empieza desde arriba
  padding: 1em;
  background-color: #304C3A;
  height: auto;

  h1 {
    font-size: 1.8em;
    text-align: center;
    margin: 0;
    flex-grow: 1;            // ✅ Esto hace que el h1 "rellene" el espacio disponible
    display: flex;
    align-items: center;     // opcional: centra el texto verticalmente dentro de su área
    justify-content: center; // opcional: centra horizontalmente
  }

  img {
    width: auto;
    height: 20em;
  }

  p, button {
    font-size: 1.5em;
  }

  p {
    margin-bottom: 0.5em;
  }
}

}

@media (width < 900px) {
  
  .productos {
    flex-direction: column;
    font-size: 4vw;
    margin: 2em auto;
    width: 90%;
    gap: 1em;
    border: 1px solid #304C3A;

    .producto {
      width: 100%;
      height: auto;

      img {
        width: 90%;
        height: auto;
      }
    }
  }


}