    <app-navbar></app-navbar>

    <section class="catalogo-hierbas">
    <div class="background">
        <img src="infuciones/backgroundinfuciones.webp" alt="">
        <img src="yerbas/filtroverdoso.webp" alt="">
    </div>
    <div class="productos">

        <div routerLink="/catalogo-infuciones/detalle/1" class="producto playadito">
        <h1>Herbal Tea <br>
“Sweet Dreams” </h1>
        <img src="infuciones/infucion-morado.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button  class="precio">S/. 14.90</button>
        </div>
        <div routerLink="/catalogo-infuciones/detalle/2" class="producto playadito">
        <h1>Herbal Tea <br>
“Blood Preasure”
</h1>
        <img src="infuciones/infucion-naranja.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button class="precio">S/. 14.90</button>
        </div>
        <div routerLink="/catalogo-infuciones/detalle/3" class="producto playadito">
        <h1>Herbal Tea “Lucidum <br>
Ganoderma Ginseng”</h1>
        <img src="infuciones/infucion-roja.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button class="precio">S/. 14.90</button>
        </div>
        <div routerLink="/catalogo-infuciones/detalle/4" class="producto playadito">
        <h1>Herbal Tea “Ginseng 
Green Tea”</h1>
        <img src="infuciones/infucion-verde.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button class="precio">S/.14.90</button>
        </div>
    </div>
    </section>
    <app-footer></app-footer>