<app-navbar></app-navbar>
<section class="catalogo">
  <swiper-container  pagination='{"clickable": true}' scrollbar="true" autoplay='{"delay": 3000, "disableOnInteraction": false}'
>
    <swiper-slide>
          <img src="backgroundCatalogo/catalogo1.webp" class="backgroundcatalogo" alt="imagen del primer catalogo">
      <section class="catalogo-1">
      <h1>¡ENCUENTRA TU YERBA MATE <br>
IDEAL CON JAQUE!</h1>
        <ul>
          <li>Mejora la concentración gracias a la combinación  <br>
natural de cafeína,
teobromina y teofilina.</li>
          <li>Ayuda al metabolismo favoreciendo la quema de <br>
grasas de forma natural.</li>
          <li>Protege el corazón reduciendo el colesterol LDL y<br>
 mejorando la circulación.</li>
          <li>Fortalece huesos incluso en personas mayores, según<br>
 estudios recientes.</li>
        </ul>
      <button class="link" routerLink="/catalogo-hierbas">¡Explorar Yerbas!</button></section>
    </swiper-slide>
    <swiper-slide>
          <img src="backgroundCatalogo/catalogo1.webp" class="backgroundcatalogo" alt="imagen del primer catalogo">
      <section class="catalogo-1">
      <h1>¡ENCUENTRA TU YERBA MATE <br>
IDEAL CON JAQUE!</h1>
        <ul>
          <li>Mejora la concentración gracias a la combinación  <br>
natural de cafeína,
teobromina y teofilina.</li>
          <li>Ayuda al metabolismo favoreciendo la quema de <br>
grasas de forma natural.</li>
          <li>Protege el corazón reduciendo el colesterol LDL y<br>
 mejorando la circulación.</li>
          <li>Fortalece huesos incluso en personas mayores, según<br>
 estudios recientes.</li>
        </ul>
      <button class="link" routerLink="/catalogo-hierbas">¡Explorar Yerbas!</button></section>
    </swiper-slide>
        <swiper-slide>
          <img src="backgroundCatalogo/catalogo1.webp" class="backgroundcatalogo" alt="imagen del primer catalogo">
      <section class="catalogo-1">
      <h1>¡ENCUENTRA TU YERBA MATE <br>
IDEAL CON JAQUE!</h1>
        <ul>
          <li>Mejora la concentración gracias a la combinación  <br>
natural de cafeína,
teobromina y teofilina.</li>
          <li>Ayuda al metabolismo favoreciendo la quema de <br>
grasas de forma natural.</li>
          <li>Protege el corazón reduciendo el colesterol LDL y<br>
 mejorando la circulación.</li>
          <li>Fortalece huesos incluso en personas mayores, según<br>
 estudios recientes.</li>
        </ul>
      <button class="link" routerLink="/catalogo-hierbas">¡Explorar Yerbas!</button></section>
    </swiper-slide>
  </swiper-container>
</section>
<app-footer></app-footer>