<app-navbar></app-navbar>
  <swiper-container  pagination='{"clickable": true}' scrollbar="true"
  touchStartPreventDefault="false"
  touchMoveStopPropagation="false"
>
    <swiper-slide>
    <div class="background">
      <img src="backgroundCatalogo/catalogo1.webp" alt="">
    </div>
    <section class="contenido">
      <h1>!ENCUENTRA TU HIERBA MATE IDEAL CON JAQUE!</h1>
      <ul>
        <li>Mejora la concentración gracias a la combinación natural de cafeína, teobromina y teoﬁlina.</li>
        <li>Ayuda al metabolismo favoreciendo la quema de grasas de forma natural.</li>
        <li>Protege el corazón reduciendo el colesterol LDL y mejorando la circulación.</li>
        <li>Fortalece huesos incluso en personas mayores, según estudios recientes.</li>
      </ul>
      <button routerLink="/catalogo-hierbas">¡Explorar Yerbas!</button>
    </section>
    </swiper-slide>
    <swiper-slide>
    <div class="background">
      <img src="backgroundCatalogo/catalogo2.webp" alt="">
    </div>
    <section class="contenido">
      <h1>!ENCUENTRA TU CAFE IDEAL CON JAQUE!</h1>
      <ul>
        <li>Entrega energía inmediata, su cafeína estimula el sistema nervioso y mantiene la mente despierta.</li>
        <li>Mejora el estado de ánimo, estimula neurotransmisores como dopamina y serotonina, ayudando a reducir la sensación de fatiga mental y elevando el ánimo</li>
        <li>Favorece el rendimiento físico, incrementando la liberación de adrenalina, lo que mejora la resistencia y la fuerza durante el ejercicio</li>
        <li>Reduce riesgo de Parkinson y Alzheimer. La cafeína y antioxidantes del café están asociados a menor incidencia de estas enfermedades neurodegenerativas.</li>
      </ul>
      <button routerLink="/catalogo-cafes">¡Explorar Cafes!</button>
    </section>
    </swiper-slide>
    <swiper-slide>
    <div class="background">
      <img src="backgroundCatalogo/catalogo3.webp" alt="">
    </div>
    <section class="contenido">
      <h1>!ENCUENTRA TUS INFUCIONES IDEALES CON JAQUE!</h1>
      <ul>
        <li>Favorecen el sueño, los ingredientes de estas hierbas relajantes ayudan a conciliar y mejorar la calidad del descanso.</li>
        <li>Apoyan la salud cardiovascular. Algunas combinaciones ayudan a regular la presión arterial y mejorar la circulación</li>
        <li>Refuerzan defensas. Plantas como el ginseng o el ganoderma fortalecen el sistema inmune y la resistencia física.</li>
        <li>Propiedades anti-envejecimiento. Antioxidantes naturales que combaten radicales libres y mantienen la piel saludable.</li>
      </ul>
      <button routerLink="/catalogo-infuciones">¡Explorar Infusiones!</button>
    </section>
    </swiper-slide>

  </swiper-container>
<app-footer></app-footer>