    <app-navbar></app-navbar>

    <section class="catalogo-hierbas">
    <div class="background">
        <img src="pomosMetalicos/fondojaques.webp" alt="">
    </div>
    <div class="productos">

        <div class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueBlanco.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button routerLink="/catalogo-jaques/detalle/1" class="precio">S/. 14.90</button>
        </div>
        <div class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueNegro.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button routerLink="/catalogo-jaques/detalle/2" class="precio">S/. 14.90</button>
        </div>
        <div class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueCobre.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button routerLink="/catalogo-jaques/detalle/3" class="precio">S/. 14.90</button>
        </div>
        <div class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueRojo.webp" alt="">
        <p class="peso">20 tea bag</p>
        <button routerLink="/catalogo-jaques/detalle/4" class="precio">S/.14.90</button>
        </div>
    </div>
    </section>
    <app-footer></app-footer>