.catalogo-hierbas {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
}

.background {

  width: 100%;
  height: 100%;
  background-color: peachpuff;
  position: absolute;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    object-position: top;
  }

}

.productos {
  font-family: 'Times New Roman', Times, serif;
  font-size: 0.8vw;
  width: 100%;
  height: min-content;
  position: relative;
  display: grid;
  margin: auto 10em;
  gap: 3em;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: min-content;

  .producto{
    cursor: pointer;
    font-size: 1.1em;
    border-radius: 2em;
    color: #fff;
    display: flex;
    background-color: #304C3A;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
      max-width: 8em;
    }

    p {
      font-size: 1.5em;
    }

    .precios {
      display: flex;
      width: 100%;
      justify-content: center;
      gap: 1.5em;
      font-size: 1.5em;
      position: relative;

      li:nth-child(1) {
        display: flex;
        align-items: center;
      }

      li:nth-child(1)::before {
        content: "";
        transform: rotate(-10deg);
        width: 3em;
        height: 0.1em;
        background-color: red;
        position: absolute;
      }

    }
  }

}