    <app-navbar></app-navbar>

    <section class="catalogo-hierbas">
    <div class="background">
        <img src="pomosMetalicos/fondojaques.webp" alt="">
    </div>
    <div class="productos">

        <button routerLink="/catalogo-jaques/detalle/1" class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueBlanco.webp" alt="">
        <p class="peso">Road to Loyalty</p>
      <ul class="precios">
                <li>S/.200</li>
                <li>S/.160</li>
        </ul>
    </button>
        <button routerLink="/catalogo-jaques/detalle/2" class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueNegro.webp" alt="">
        <p class="peso">Road to Success</p>
      <ul class="precios">
                <li>S/.200</li>
                <li>S/.160</li>
        </ul>
    </button>
        <button routerLink="/catalogo-jaques/detalle/3" class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueCobre.webp" alt="">
        <p class="peso">Road to Decision</p>
      <ul class="precios">
                <li>S/.200</li>
                <li>S/.160</li>
        </ul>
        </button>
        <button routerLink="/catalogo-jaques/detalle/4" class="producto playadito">
        <h1>Jaque's Club</h1>
        <img src="pomosMetalicos/JaqueRojo.webp" alt="">
        <p class="peso">Road to Love</p>
      <ul class="precios">
                <li>S/.200</li>
                <li>S/.160</li>
        </ul>
        </button>
    </div>
    </section>
    <app-footer></app-footer>