.detalle-container {
  padding: 2rem;
  font-family: 'TwentiethCentury';

  .detalle-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }

  .detalle-izquierda {
    flex: 3;
    text-align: center;
    position: relative;
    background-color: #304C3A;
    display: flex;

    .logo {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .logo img {
      width: 70%;
      flex: 1;
      height: auto;
    }

    .detalle-imagen {
      width: 30%;
      object-fit: contain;
    }

    .bombilla-detalle {
      width: 5%;
      margin-top: 60px;
      margin-right: 20px;
      height: fit-content;
      object-fit: contain;
    }
  }

  .detalle-derecha {
    flex: 2;

    h2 {
      margin: 0.5rem 0;
    }

    .precio {
      font-size: 1.5rem;
      margin: 1rem 0;

      .original {
        text-decoration: line-through;
        color: gray;
        margin-right: 1rem;
      }

      .oferta {
        color: #00aaff;
        font-weight: bold;
      }
    }

    .descripcion {
      font-size: 1rem;
      margin-bottom: 1.5rem;
    }

    ul {
      list-style: disc;
      padding-left: 1.2rem;
      margin-bottom: 2rem;
    }

    .acciones {
      display: flex;
      align-items: center;
      gap: 1rem;

      .cantidad {
        border: 1px solid #000;
        button {
          background-color: transparent;
          color: gray;
          border: none;
          padding: 0.5rem 1rem;
          cursor: pointer;
        }
      }

      .pago {
        background-color: black;
        color: white;
        padding: 0.5rem 1rem;
        border: none;
      }
    }
  }
}



@media (max-width: 768px) {
  .detalle-grid {
    flex-direction: column;
    align-items: center;
  }

  .detalle-derecha {
    text-align: center;
  }

  .acciones {
    flex-direction: column;
  }
}
