<app-navbar></app-navbar>
<header>
  <div class="trigger">
    <div class="trigger-1"></div>
    <div class="trigger-2"></div>
    <div class="trigger-3"></div>
  </div>
</header>

<section class="logotipo">
<section class="logo">
    <video #videoBg 
          class="backgroundlogo" 
          src="media/videos_webm/videodeporte.webm" 
          muted 
          playsinline>
    </video>    

    <section class="foregroundlogo">
      <!-- Texto izquierda -->
      <p #izquierda class="izquierda">{{ leftText }}</p>

      <!-- Termos siempre en DOM -->
      <section class="termos" [hidden]="showLogo">
        <h1>¡Elige tu color, escoge tu camino y haz tu <br>Jaque!</h1>
        <div class="pomos">
          <img *ngFor="let pomo of pomos; let i = index"
               [src]="pomo"
               [hidden]="i !== currentIndex"
               alt="pomo">
        </div>
        <button class="comprar">Comprar Ahora</button>
      </section>

      <!-- Logo siempre en DOM -->
      <!-- Logo SIEMPRE en el DOM -->
      <div class="logo-wrapper" #logoWrapper>
        <app-logo-jaque></app-logo-jaque>
      </div>

    
      <!-- Texto derecha -->
      <p #derecha class="derecha">{{ rightText }}</p>
    </section>
  </section>
</section>
<app-termos-jaque></app-termos-jaque>
<a 
  href="https://wa.me/+51967138339" 
  target="_blank" 
  class="whatsapp-button"
  aria-label="Contactar por WhatsApp">
  <img src="/whatsapp.png" alt="WhatsApp">
</a><app-footer></app-footer>
