<app-navbar></app-navbar>
<header>
<img class="fondo" src="backgroundhome.webp" alt="">
<section class="termos">
  <h1>¡Elige tu color, escoge tu camino y haz tu <br>
Jaque!</h1>
    <div class="pomos">
      <img *ngFor="let pomo of pomos; let i = index"
           [src]="pomo"
           [hidden]="i !== currentIndex"
           alt="pomo">
    </div>
    <button class="comprar">Comprar Ahora</button>
</section>
</header>
<section class="logotipo">
  <section class="logo">
    <img class="backgroundlogo" src="backgroundlogo.webp" alt="">
    <section class="foregroundlogo">
      <p class="izquierda">UNETE A</p>
    <app-logo-jaque></app-logo-jaque>
    <p class="derecha">AHORA</p>
  </section>
  </section>
</section>
<app-footer></app-footer>

