<app-navbar></app-navbar>
<section class="contact-form">
  <h2>CONTACTANOS</h2>
  <p>Envíanos un mensaje y nuestro equipo los asistirá en menos de 24 horas hábiles :)</p>
  
  <form>
    <div class="form-row">
      <input type="text" placeholder="Nombre" required>
      <input type="email" placeholder="Correo electrónico" required>
    </div>
    
    <input type="tel" placeholder="Número de teléfono" required>
    
    <textarea placeholder="Comentario" rows="5" required></textarea>
    
    <button type="submit">ENVIAR</button>
  </form>
</section>

<app-footer></app-footer>