<nav>
  <button class="logo" routerLink="/" (click)="goTop()">
    <img src="logo.webp" alt="logo de jaque club">
  </button>
  <button class="link" routerLink="/catalogo-jaques" (click)="goTop()">Productos Jaque</button>
  <button class="link" routerLink="/catalogo" (click)="goTop()">Catálogo</button>
  <button class="link" routerLink="/contacto" (click)="goTop()">Contacto</button>
  <button class="carrito"><img src="carrito.webp" alt="carrito de compras"></button>
  <button class="link" routerLink="/catalogo-jaques" (click)="goTop()">¡Comprar Ahora!</button>
</nav>
<div class="barra"></div>
