<footer class="footer">
  <div class="footer-column">
    <h4>AYUDA</h4>
    <ul>
      <li><a href="#">Comprar <div class="strong">JAQUE</div></a></li>
      <li><a href="#">Política de Envíos</a></li>
      <li><a href="#">Política de Devolución</a></li>
      <li><a href="#">Términos & Condiciones</a></li>
      <li><a href="#">Libro de Reclamaciones</a></li>
      <li><a href="#">Contacto</a></li>
    </ul>
  </div>

  <div class="footer-column">
    <h4>Nuestras redes :)</h4>
    <ul class="social">
      <li><a href="#"><i class="bi bi-whatsapp"></i>Whatsapp</a></li>
      <li><a href="#"><i class="bi bi-instagram"></i>Instagram</a></li>
      <li><a href="#"><i class="bi bi-tiktok"></i>TikTok</a></li>
    </ul>
  </div>

  <div class="footer-column footer-brand">
    <h2 class="jaque">JAQUE</h2>
    <p>
      En Jaque, nuestra misión es construir una comunidad que avance con propósito y unida por caminos claros. Creamos productos funcionales para todo tipo de bebidas y momentos, con ingeniería honesta, diseño intencional y un precio justo que refleje nuestro compromiso como marca de culto. Además, destinamos parte de nuestras ganancias a organizaciones que generen impacto tangible, porque creemos que cada sorbo no solo debe impulsarte a seguir tu camino, sino también contribuir al de otros.
    </p>
  </div>

  <div class="footer-column newsletter">
    <h4>NEWSLETTER</h4>
    <form>
      <input type="email" placeholder="Correo electrónico">
      <button type="submit">→</button>
    </form>
  </div>

  <div class="footer-bottom">
    <p>© 2025 <strong>JAQUE</strong> Perú, Todos los derechos reservados.</p>
  </div>
</footer>
