<app-navbar></app-navbar>

<section class="catalogo">
    <div class="fondo">
    <img src="yerbas/fondoyerbas.webp" alt="">
    <img src="yerbas/filtroverdoso.webp" alt="">
    </div>
    <section class="contenedor-filtros">
    <section class="contenedor-hierbas">
    <section class="hierbas">
        <h1>Playadito, Yerba Mate con Palo</h1>
        <img src="/yerbas/playadito.webp" alt="">
        <p>500g / 1kg</p>
        <button>s/.40 - s/.60</button>
    </section>
    <section class="hierbas">   
        <h1>Canarias Serena</h1>
        <img src="/yerbas/canarias-te-serena.webp" alt="">
        <p>500g / 1kg</p>
        <button>s/.35 - s/.55</button>
    </section>
    <section class="hierbas">
        <h1>Canarias Té Rojo y Centella</h1>
        <img src="/yerbas/canarias-te-rojo.webp" alt="">
        <p>500g / 1kg</p>
        <button>s/.38 - s/.60</button>
    </section>
    <section class="hierbas">
        <h1>Canarias Té Verde y Jengibre</h1>
        <img src="/yerbas/canarias-te-verde.webp" alt="">
        <p>500g / 1kg</p>
        <button>s/.36 - s/.58</button>
    </section></section></section>
</section>

<app-footer></app-footer>