<main class="termos-jaque">
  <section class="loyalty" appAnimateIn>
    <p class="road">ROAD</p>
    <p class="to">TO</p>
    <div class="pomo-wrapper">
      <img class="pomo base" src="pomos/pomoLoyalty.webp" alt="">
      <img class="pomo hover" src="lineaslogo/lineaslogoLoyalty.webp" alt="">
    </div>
    <p class="relative">LOYALTY</p>
  </section>

  <section class="success" appAnimateIn>
    <p class="road">ROAD</p>
    <p class="to">TO</p>
    <div class="pomo-wrapper">
      <img class="pomo base" src="pomos/pomoSuccess.webp" alt="">
      <img class="pomo hover" src="lineaslogo/lineaslogoSuccess.webp" alt="">
    </div>
    <p class="relative">SUCCESS</p>
  </section>

  <section class="decision" appAnimateIn>
    <p class="road">ROAD</p>
    <p class="to">TO</p>
    <div class="pomo-wrapper">
      <img class="pomo base" src="pomos/pomoDecision.webp" alt="">
      <img class="pomo hover" src="lineaslogo/lineaslogoDecision.webp" alt="">
    </div>
    <p class="relative">DECISION</p>
  </section>

  <section class="love" appAnimateIn>
    <div class="fondo">
      <div class="bg-left"></div>
      <div class="bg-right"></div>
    </div>
    <p class="road">ROAD</p>
    <p class="to">TO</p>
    <div class="pomo-wrapper">
      <img class="pomo base" src="pomos/pomoLove.webp" alt="">
      <img class="pomo hover" src="lineaslogo/lineaslogoLove.webp" alt="">
    </div>
    <p class="relative">LOVE</p>
  </section>
</main>
