.contenedor-logo {
background-color: #fff;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 450px;
  height: 450px;

  img {
    scale: 1.3;
    object-fit: contain;
  }
}