.contenedor-logo {
background-color: #fff;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 32vw;
  height: 32vw;
  overflow: hidden;

  img {
    width: 40vw;
    height: 40vw;
    object-fit: cover;
  }
}

@media (max-width: 900px) {

  .contenedor-logo {
background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 80vw;
  overflow: hidden;

  img {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
  }
}





}