.contenedor-logo {
background-color: #fff;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  width: 35vw;
  height: 35vw;
  overflow: hidden;

  img {
    width: 43vw;
    height: 43vw;
    object-fit: contain;
  }
}